@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --font-roboto: "Roboto Slab", serif;
    --font-raleway: "Raleway", sans-serif;
    --font-Bebas: "Bebas Neue", cursive;
}

body {
    font-family: var(--font-roboto);
    /* background-color: #212426; */
    background-color: #1b1b1b;
    background-color: #141414;
}

.app {
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 4rem;
    /* letter-spacing: 0.9px; */
    background: linear-gradient(
        90deg,
        rgb(255, 0, 0) 0%,
        rgba(249, 211, 180, 0) 120%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    font-family: "Bebas Neue", cursive;
    font-weight: 400;
    cursor: pointer;
}

.empty {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty h2 {
    font-size: 1.25rem;
    color: white;
    font-family: var(--font-raleway);
}

.container {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.movie {
    width: 310px;
    height: 460px;
    margin: 1rem;
    position: relative;
    border-radius: 0px;
    overflow: hidden;
    border: none;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.movie:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05);
}

.movie .movie-poster {
    width: 100%;
    height: 100%;
}

.movie .movie-poster img {
    height: 100%;
    width: 100%;
}

.movie .movie-desc {
    z-index: 2;
    background-color: #343739;
    padding: 10px 10px 15px 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.movie .movie-desc span {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #f0f0f0;
}

.movie .movie-desc h3 {
    margin-top: 5px;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    color: white;
}
.movie .movie-desc p {
    /* position: absolute; */
    padding: 5px 0;
    width: 100%;
    /* opacity: 0; */
    /* top: 0; */
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: var(--font-raleway);
}

.movie:hover .movie-poster {
    height: 100%;
    opacity: 0.3;
}

.movie:hover .movie-desc {
    background-color: transparent;
}

/* .movie:hover .movie-desc p {
    opacity: 100%;
} */

@media screen and (max-width: 600px) {
    .app {
        padding: 4rem 2rem;
    }
}

@media screen and (max-width: 400px) {
    .app {
        padding: 3rem 1rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    .container {
        margin-top: 0rem;
    }

    .movie {
        width: 100%;
        margin: 1rem;
    }

    .movie:hover {
        box-shadow: unset;
        transform: unset;
    }

    .movie div:nth-of-type(1) {
        opacity: 100%;
        color: rgb(255, 0, 0);
        font-size: 1.5rem;
    }
    .movie:hover div:nth-of-type(2) {
        height: unset;
        opacity: unset;
    }
}
